/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item {
  font-size: 20px;
  cursor: pointer;
}


/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 50px;
  background-color: #000;
}

.label-container {
  margin: 5px
}

.label {
  color: #fff;
  font-size: 12px;
  background-color: #494A4A;
  padding: 5px;
  border-radius: 5px;
}


/* MAIN */
main {
  width: 100vw;
  height: calc(100vh - 110px);
  padding: 20px;
  background-color: #000;
  overflow: auto;
}

.container {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  width: 100%;
}

.image {
  position: relative;
  margin: 5px;
}

.tag {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 5px;
  background-color: rgba(75, 73, 73, 0.4);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  padding-left: 8px;
  background-color: #232123;
  font-size: 12px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer ul li {
  text-align: center;
  padding-right: 10px;
}

.footer-left, .footer-center, .footer-right {
  padding: 10px 0;
}

/* footer center */
.footer-center {
  min-width: 40%;
}

.item:active {
  color: #4CCB00;
}

/* footer right */
.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: red;
  background-color: #4A4A4A;
}