/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item {
  font-size: 20px;
  cursor: pointer;
}


/* HEADER */
header {
  height: 50px;
  background-color: #000;
  position: relative;
}

.label-container {
  position: absolute;
  top: 5px;
  right: 5px;
}

.label {
  color: #fff;
  font-size: 12px;
  background-color: #494A4A;
  padding: 5px;
  border-radius: 5px;
}


/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #232123;
  font-size: 12px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

footer ul li {
  text-align: center;
  padding-right: 10px;
}

.footer-left, .footer-center, .footer-right {
  padding: 10px 0;
}

/* footer center */
.footer-center {
  min-width: 40%;
}

.item:active {
  color: #4CCB00;
}


/* footer right */
.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: red;
  background-color: #4A4A4A;
}